<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pet Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test thread-count="5" name="Pet Test">
        <classes>
          <!--  <class name="test.usertest.DDTest"></class>
              <class name="test.usertest.UserTest"></class>-->
            <class name="test.usertest.UserTest2"/>
        </classes>
    </test>
</suite>